<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jigsaw Puzzle</title>
</head>

<body>
    <div class="container">
        <h1>Jigsaw Puzzle</h1>
        <div class="puzzle-area">
            <div class="pieces-container"  id="left-pieces">
                <!-- Puzzle pieces will be added dynamically here -->
            </div>

            <div class="puzzle-box">
                <img src="images/original/jigsaw-img-1.jpeg" alt="Jigsaw Puzzle Image">
            </div>

            <div class="pieces-container" id="right-pieces">
                <!-- Puzzle pieces will be added dynamically here -->
            </div>
        </div>
    </div>

    <script src="assets/js/app.js"></script>
</body>
</html>