<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Puzzle</title>
</head>

<body>
    <div class="container">
        <h1>Select Your Puzzle</h1>
        <div class="image-selection-grid" id="image-selection-grid">
            <!-- Dynamically generated image selection items will go here -->
        </div>

        <h1 style="display: none;">Choose Level</h1>
        <div class="level-selection" id="level-selection" style="display: none;">
            <div class="level-item" data-level="easy">Easy</div>
            <div class="level-item" data-level="medium">Medium</div>
            <div class="level-item" data-level="hard">Hard</div>
        </div>
    </div>

    <script src="js/app.js"></script>
    <script>
        // Pass the static path for puzzle pieces to the JavaScript
        window.originalImagesBasePath = "/images/original/";
        window.originalImagesData = <%= raw(Jason.encode!(@original_images)) %>;
    </script>
</body>

</html>
