@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: #f4f4f9;
}

h1 {
    margin: 0 0 4vh; 
    font-size: 50px; 
    color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.puzzle-area {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.puzzle-box {
    width: 550px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.puzzle-box img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image fills the box and maintains aspect ratio */
}

.pieces-container {
    margin: 0 2vw 0 2vw;
    height: 550px;
    width: 20vw;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
    overflow-y: auto;
}