name: CI Pipeline
'on':
- push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Elixir
      uses: erlef/setup-beam@v1
      with:
        elixir-version: 1.15.7
        otp-version: 26.2.1
    - name: Install Dependencies
      run: mix deps.get
